@page "/seatings/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Seating</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditSeating" seating="seating" />

@code {
    [Parameter] public int id { get; set; }
    Seating seating = new Seating();

    protected async override Task OnParametersSetAsync()
    {
        seating = await
        _client.GetFromJsonAsync<Seating>($"{Endpoints.SeatingsEndpoint}/{id}");
    }

    async Task EditSeating()
    {
        await _client.PutAsJsonAsync($"{Endpoints.SeatingsEndpoint}/{id}", seating);
        _navManager.NavigateTo("/seatings/");
    }
}
