@page "/seatings/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>

<FormComponent seating="seating" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Seating seating = new Seating();
    protected async override Task OnParametersSetAsync()
    {
        seating = await
        _client.GetFromJsonAsync<Seating>($"{Endpoints.SeatingsEndpoint}/{id}");
    }
}
